In [8]:
import pandas as pd
import numpy as np

In [9]:
file_path = '2_NC_Occupational_Employment_and_Wages.csv'
df2 = pd.read_csv(file_path)
df2.head()

,Area Name,Occupational Code,Occupation,Naics Code,Industry,Year,Employment,Employment Relative Standard Error,Response Rate(%),Hourly wage; mean,...,Hourly wage; 10th percentile,Hourly wage; 25th percentile,Hourly wage; median,Hourly wage; 75th percentile,Hourly wage; 90th percentile,Annual wage; 10th percentile,Annual wage; 25th percentile,Annual wage; median,Annual wage; 75th percentile,Annual wage; 90th percentile
0,North Carolina,00-0000,"Total, All Occupations",0,"Cross-industry, private, federal, state, and l...",2022,"4,647,520",0.0,8,$27.03,...,$11.04,$14.42,$20.10,$30.74,$49.42,"$22,960","$29,990","$41,810","$63,940","$102,800"
1,North Carolina,11-0000,Management Occupations,0,"Cross-industry, private, federal, state, and l...",2022,"285,550",0.7,12,$60.89,...,$25.14,$36.29,$50.11,$76.07,$102.73,"$52,280","$75,480","$104,240","$158,220","$213,680"
2,North Carolina,11-1011,Chief Executives,0,"Cross-industry, private, federal, state, and l...",2022,"1,680",6.9,45,$154.87,...,$58.00,$82.92,*,*,*,"$120,650","$172,460",*,*,*
3,North Carolina,11-1021,General and Operations Managers,0,"Cross-industry, private, federal, state, and l...",2022,"89,160",1.6,14,$59.85,...,$21.89,$31.25,$48.09,$76.00,$106.34,"$45,520","$65,000","$100,020","$158,070","$221,180"
4,North Carolina,11-2011,Advertising and Promotions Managers,0,"Cross-industry, private, federal, state, and l...",2022,140,11.9,30,$76.86,...,$48.33,$59.40,$73.52,$84.35,$104.28,"$100,520","$123,540","$152,920","$175,440","$216,910"

In [10]:
df2.replace('*', np.nan, inplace=True)
df2.head()

,Area Name,Occupational Code,Occupation,Naics Code,Industry,Year,Employment,Employment Relative Standard Error,Response Rate(%),Hourly wage; mean,...,Hourly wage; 10th percentile,Hourly wage; 25th percentile,Hourly wage; median,Hourly wage; 75th percentile,Hourly wage; 90th percentile,Annual wage; 10th percentile,Annual wage; 25th percentile,Annual wage; median,Annual wage; 75th percentile,Annual wage; 90th percentile
0,North Carolina,00-0000,"Total, All Occupations",0,"Cross-industry, private, federal, state, and l...",2022,"4,647,520",0.0,8,$27.03,...,$11.04,$14.42,$20.10,$30.74,$49.42,"$22,960","$29,990","$41,810","$63,940","$102,800"
1,North Carolina,11-0000,Management Occupations,0,"Cross-industry, private, federal, state, and l...",2022,"285,550",0.7,12,$60.89,...,$25.14,$36.29,$50.11,$76.07,$102.73,"$52,280","$75,480","$104,240","$158,220","$213,680"
2,North Carolina,11-1011,Chief Executives,0,"Cross-industry, private, federal, state, and l...",2022,"1,680",6.9,45,$154.87,...,$58.00,$82.92,NaN,NaN,NaN,"$120,650","$172,460",NaN,NaN,NaN
3,North Carolina,11-1021,General and Operations Managers,0,"Cross-industry, private, federal, state, and l...",2022,"89,160",1.6,14,$59.85,...,$21.89,$31.25,$48.09,$76.00,$106.34,"$45,520","$65,000","$100,020","$158,070","$221,180"
4,North Carolina,11-2011,Advertising and Promotions Managers,0,"Cross-industry, private, federal, state, and l...",2022,140,11.9,30,$76.86,...,$48.33,$59.40,$73.52,$84.35,$104.28,"$100,520","$123,540","$152,920","$175,440","$216,910"

In [11]:
df2.to_csv('2_NC_Occupational_Employment_and_Wages(cleaned)csv', index=False)

In [5]:
if df2['Annual wage; mean'].isnull().any():
    print("There are missing values in the 'Annual wage; mean' column.")
else:
    print("No missing values in the 'Annual wage; mean' column.")

There are missing values in the 'Annual wage; mean' column.

In [6]:
#There there is a lot of missing data, we assumed the most important column is probably [Annual wage; mean] it only has 
#some missing values so if we do run into trouble with this data we can always delete the rows with that using something
#like the code below


#this will drop our missings
df2.dropna(subset=['Annual wage; mean'], inplace=True)
df2

,Area Name,Occupational Code,Occupation,Naics Code,Industry,Year,Employment,Employment Relative Standard Error,Response Rate(%),Hourly wage; mean,...,Hourly wage; 10th percentile,Hourly wage; 25th percentile,Hourly wage; median,Hourly wage; 75th percentile,Hourly wage; 90th percentile,Annual wage; 10th percentile,Annual wage; 25th percentile,Annual wage; median,Annual wage; 75th percentile,Annual wage; 90th percentile
0,North Carolina,00-0000,"Total, All Occupations",0,"Cross-industry, private, federal, state, and l...",2022,"4,647,520",0.0,8,$27.03,...,$11.04,$14.42,$20.10,$30.74,$49.42,"$22,960","$29,990","$41,810","$63,940","$102,800"
1,North Carolina,11-0000,Management Occupations,0,"Cross-industry, private, federal, state, and l...",2022,"285,550",0.7,12,$60.89,...,$25.14,$36.29,$50.11,$76.07,$102.73,"$52,280","$75,480","$104,240","$158,220","$213,680"
2,North Carolina,11-1011,Chief Executives,0,"Cross-industry, private, federal, state, and l...",2022,"1,680",6.9,45,$154.87,...,$58.00,$82.92,NaN,NaN,NaN,"$120,650","$172,460",NaN,NaN,NaN
3,North Carolina,11-1021,General and Operations Managers,0,"Cross-industry, private, federal, state, and l...",2022,"89,160",1.6,14,$59.85,...,$21.89,$31.25,$48.09,$76.00,$106.34,"$45,520","$65,000","$100,020","$158,070","$221,180"
4,North Carolina,11-2011,Advertising and Promotions Managers,0,"Cross-industry, private, federal, state, and l...",2022,140,11.9,30,$76.86,...,$48.33,$59.40,$73.52,$84.35,$104.28,"$100,520","$123,540","$152,920","$175,440","$216,910"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,North Carolina,53-7065,Stockers and Order Fillers,0,"Cross-industry, private, federal, state, and l...",2022,"92,560",1.2,15,$15.51,...,$11.24,$13.25,$14.68,$17.32,$20.20,"$23,390","$27,550","$30,530","$36,030","$42,020"
802,North Carolina,53-7072,"Pump Operators, Except Wellhead Pumpers",0,"Cross-industry, private, federal, state, and l...",2022,20,39.9,12,$22.03,...,$16.11,$16.11,$19.74,$23.20,$26.73,"$33,510","$33,510","$41,070","$48,250","$55,600"
803,North Carolina,53-7081,Refuse and Recyclable Material Collectors,0,"Cross-industry, private, federal, state, and l...",2022,"6,280",3.0,25,$17.75,...,$10.89,$13.15,$18.04,$22.33,$23.56,"$22,640","$27,350","$37,530","$46,450","$49,010"
804,North Carolina,53-7121,"Tank Car, Truck, and Ship Loaders",0,"Cross-industry, private, federal, state, and l...",2022,90,11.1,19,$19.90,...,$19.10,$19.10,$19.10,$19.95,$22.63,"$39,730","$39,730","$39,730","$41,500","$47,070"
805,North Carolina,53-7199,"Material Moving Workers, All Other",0,"Cross-industry, private, federal, state, and l...",2022,60,25.3,19,$19.99,...,$14.20,$16.00,$18.37,$25.44,$26.97,"$29,530","$33,290","$38,210","$52,900","$56,090"

In [7]:
if df2['Annual wage; mean'].isnull().any():
    print("There are missing values in the 'Annual wage; mean' column.")
else:
    print("No missing values in the 'Annual wage; mean' column.")

No missing values in the 'Annual wage; mean' column.